<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!-- rpc 客户端 -->
    <bean id="rpcClientConfig" class="com.ucar.rpc.client.netty.RpcClientConfig">
    </bean>

    <bean id="rpcClient" class="com.ucar.rpc.client.netty.RpcClient">
        <constructor-arg index="0" ref="rpcClientConfig"/>
    </bean>

    <!-- rpc 服务 -->
    <bean id="rpcServerConfig" class="com.ucar.rpc.server.netty.RpcServerConfig"></bean>

    <bean id="springBeanLocator" class="com.ucar.rpc.factory.impl.SpringBeanLocator"></bean>

    <bean id="rpcServer" class="com.ucar.rpc.server.netty.RpcServer">
        <constructor-arg index="0" ref="rpcServerConfig"/>
        <constructor-arg index="1" ref="springBeanLocator"/>
    </bean>

    <bean id="zkServiceNameConfig" class="com.ucar.rpc.factory.impl.ZkServiceNameConfig">
        <!-- 独立的节点 -->
        <property name="clusterNode" value="cdms"/>
        <!--  根目录 -->
        <property name="zkClusterRoot" value="/cluster"/>
        <!--  zk主机 -->
        <property name="zkHosts" value="10.100.19.144:2181"/>
    </bean>

    <!-- cluster 配置 -->
    <bean id="serviceNameRegister" class="com.ucar.rpc.factory.impl.ZkServiceNameRegister">
        <property name="zkServiceNameConfig" ref="zkServiceNameConfig"/>
        <property name="rpcServerConfig" ref="rpcServerConfig" />
    </bean>

    <bean id="clientFactory" class="com.ucar.rpc.factory.impl.DefaultRpcClientFactory">
        <property name="rpcClient" ref="rpcClient"/>
        <property name="serviceNameRegister" ref="serviceNameRegister"/>
    </bean>

    <bean id="rpcEntrance" class="com.ucar.rpc.factory.RpcEntrance" init-method="start" destroy-method="shutdown">
        <property name="serviceNameRegister" ref="serviceNameRegister"/>
        <property name="rpcClient" ref="rpcClient"/>
        <property name="rpcServer" ref="rpcServer"/>
    </bean>

</beans>